body{
	margin: 0;
}
.header{
	width: 100%;
	height: 30px;
	border-bottom: #1B1B1B 1px solid;
}
.header a{
	color: #000000;
	font-style: normal;
	text-decoration: none;
}
.header-left{
	float: left;
}
.header-right{
	float: right;
}
h1{
	float:left;
	font-size: 1em;
	margin: 0 10px;
}
