  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi">
    <h3 class="am-titlebar-title ">
    章节列表
    </h3>
  <nav class="am-titlebar-nav">
    <a>{$nowPage} / {$totalPages}</a>
  </nav>
  </div>
  <nav class="am-list-news-bd">
    <ul class="am-list am-list-border am-list-striped">
      <foreach name="overlist" item="vo">
      <li >
        <a href="{:U('/read/'.$vo['articleid'].'/'.$vo['chapterid'])}" class="am-list-item-hd">{$vo['chaptername']}</a>
      </li>
      </foreach>
    </ul>
  </nav>
